{
  "name": "jfather.js",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik",
  "team": "Infertus",
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "JFATHER",
  "requires": [],
  "content": [
    "*.js"
  ],
  "description": "A utility for extracting and manipulating specific data from deeply nested JSON objects.",
  "tags": [
    "js",
    "javascript",
	  "json",
    "nested json objects",
    "extracting data",
    "extracting json objects",
    "extracting nested json objects"
  ]
}
